@page
@model LibraryLove.Pages.User.ForgotPassword.SecurityQuestionModel

@{
}

<h1>Please Confirm your Security Question Answer</h1>

<!-- Form that asks questions based on created from signup and expects the matching answers -->
<br />


<form method="post">
    <div class="form-group">
        <div class="mb-1">
            <label class="lead" asp-for="NewUser.SecurityAnswer"></label>
        </div>
        <div>
            @Html.DisplayFor(model => model.SecurityQuestion)
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="mb-1 col-12">
            <label class="lead" for="answer">Answer</label><sup>*</sup>
        </div>
        <input type="password" name="answer"  class="form-control col-8"/>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Next Step" class="btn btn-primary form-control" />
    </div>
</form>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}