@page
@model AdminProject.Pages.ViewLibrairans.ViewLibrariansModel
@{
    ViewData["Title"] = "View Librairans";
}

<p class="lead">Librairans</p>


    <div class="table-box">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><label asp-for="UserList.FirstOrDefault().Username"></label></th>
                    <th> <label asp-for="UserList.FirstOrDefault().FirstName"></label></th>
                    <th> <label asp-for="UserList.FirstOrDefault().LastName"></label></th>
                    <th> <label asp-for="UserList.FirstOrDefault().Email"></label> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserList)
                {
                    <tr>
                        <td> @item.Username </td>
                        <td> @item.FirstName</td>
                        <td> @item.LastName</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


@section Scripts{

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ html: true });
        });
    </script>
    <script src="~/js/delete.js"></script>

}