@page
@model LibraryLove.Pages.User.EditProfileModel
@{
}

<p class="lead">Theme Mode:</p>
<div class="mode">
    <input type="checkbox" class="checkbox" id="checkbox" />
    <label for="checkbox" class="label-button">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
    </label>
</div>

