@page
@model LibraryLove.Pages.Librarian.SearchModel
@{
    ViewData["Title"] = "Search a Book";
}
<form method="post">
    <div class="form-group">
        <label for="search">Search Book by ISBN or Title</label>
        <input class="form-control" name="search" />
        @if(Model.NoMatch == true)
            {
                <span class="text-danger">This Book could not be found</span>
            }
        
    </div>
    <button type="submit" class="btn form-control">Search Book</button>
</form>


<div class="row">
    @foreach (var item in Model.Books)
    {
        <div class="col-lg-4 col-md-6 my-3">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="book-details">@item.Title</h4>
                </div>
                <div class="card-body">
                    <img src="~/Images/@item.Image">
                    <a asp-page="Book" asp-route-id="@item.Id" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    <p class="lead book-details">@item.GetFullName()</p>
                </div>
            </div>
        </div>
    }
</div>