@page
@model LibraryLove.Pages.Customer.ViewModel
@{
    ViewData["Title"] = "View Books";
}

<form method="post">
    <div class="form-group d-md-flex">
        <label asp-for="BookRecord.Genre" class="lead mr-md-2">View By</label>
        <div>
            <select onchange="this.form.submit()"
                    asp-for="BookRecord.Genre"
                    asp-items="@Html.GetEnumSelectList<LibraryLove.Model.BookGenre>()"
                    class="custom-select mr-sm-2 genre-select">
                <option value="">All</option>
            </select>
        </div>
        <i class="fas fa-info-circle fa-lg mt-3 view-info-circle"
           data-toggle="tooltip"
           data-placement="right"
           title="Click on a Book to view more details and actions"></i>
    </div>
</form>


<div class="row">
    @foreach (var item in Model.Books)
    {
        <div class="col-lg-4 col-md-6  my-3">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="book-details book-details">@item.Title</h4>
                </div>
                <div class="card-body">
                    <img src="~/Images/@item.Image">
                    <a asp-page="Book" asp-route-id="@item.Id" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    <p class="lead book-details">@item.GetFullName()</p>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}