@page
@model LibraryLove.Pages.Browser.LoginModel
@{
}


<h1>Login</h1>

<br />
<div class="row">
    <div class="col-md-8">
        <form method="post">

            <div class="form-group">
                <label asp-for="UserRecord.Username" class="control-label"></label><sup>*</sup>
                <input type="text" asp-for="UserRecord.Username" class="form-control" />
                <span asp-validation-for="UserRecord.Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserRecord.Password" class="control-label">Password</label><sup>*</sup>
                <input asp-for="UserRecord.Password" type="password" class="form-control" id="password" />
                <span asp-validation-for="UserRecord.Password" class="text-danger"></span>
            </div>

            <input type="submit" value="Log In" class="btn btn-primary form-control" />

        </form>

        <div>
            <p style="color: red">@Model.Message</p>
        </div>

        <div>
            <p> <a asp-page="/User/ForgotPassword/VerifyUser"> Forgot Password </a> </p>
        </div>
    </div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}